<div class="d-flex flex-wrap justify-content-center">
  <mat-card *ngFor="let it of nine$ | async" (click)="openDialog()" [routerLink]="it.name" class="w-25 m-1">
    <mat-card-header class="justify-content-center">
      <mat-card-title class="text-center">
        {{it.name}}
      </mat-card-title>
      <mat-card-subtitle class="text-center d-flex justify-content-center">
        {{it.house}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="justify-content-center d-flex">
      <img src={{it.image}} class="fixed-image">

    </mat-card-content>
  </mat-card>
</div>