<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <!-- changed the ng if to id instead of lore -->
        <span *ngIf="currentTitle.lore">{{originalTitle}}</span>
        <span *ngIf="!currentTitle.lore">Select a Character</span>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form (submit)="saved.emit(currentTitle)" [formGroup]="myForm">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Character" [(ngModel)]="currentTitle.name" formControlName="name" name="name">
        <span *ngIf="name.invalid && name.touched">**Required Field</span>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Function" [(ngModel)]="currentTitle.function" formControlName="function" name="function">
        <span *ngIf="function.invalid && function.touched">**Required Field</span>
      </mat-form-field>

      <!-- <mat-form-field class="full-width">
          <input matInput placeholder="Age" [(ngModel)]="currentTitle.about.age" formControlName="age" name="age">
          <span *ngIf="age.invalid && age.touched">**Required Field</span>
        </mat-form-field> -->

    </mat-card-content>
    <mat-card-actions>
      <!-- <button type="submit" mat-button color="primary">{{currentTitle.about.age ? 'Updating' : 'Create'}}</button> -->
      <button type="submit" mat-button color="primary" [disabled]="myForm.invalid">Save</button>
      <button type="button" mat-button (click)="cancelled.emit(currentTitle)">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>