<div class="m-0 d-flex justify-content-center mt-3">
  <div class="w-50 ml-3 mr-2">
    <workspace-projects-list
    [onepiece]="onepiece$ | async"
    [loading]="isLoading$ | async"
    (selected)="selectOnepiece($event)"
    (deleted)="alert($event)"
    ></workspace-projects-list>
  </div>
  <div class="w-50 mr-3 ml-2">
    <workspace-projects-details
    [onepiece]="currentOnepiece$ | async"
    (saved)="saveOnepiece($event)"
    (cancelled)="cancel()"
    ></workspace-projects-details>
  </div>
</div>

<!-- <div>
  <mat-card *ngFor="let one of onepiece$ | async">
    <mat-card-header class="justify-content-center">
      <mat-card-title>
        <p>{{one.chapter}}</p>
        <p>{{one.character}}</p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex flex-column justify-content-center align-items-center">
      <img src={{one.cover_images}}>
      <p>{{one.theories}}</p>
      <p>{{one.summary}}</p>
    </mat-card-content>
  </mat-card>
</div> -->