<!-- <div *ngIf="projectItem$ | async as projectItem" class="d-flex justify-content-center align-self-center m-auto vh-100">
  <mat-card class="d-flex justify-content-center flex-column align-self-center h-25">
    <mat-card-header>
      <mat-card-title>
        <p class="text-center">  {{projectItem.species}}
          {{projectItem.gender}}</p>
      </mat-card-title>
      <mat-card-subtitle>
        <p class="text-center">  {{projectItem.house}}
          {{projectItem.dateOfBirth}}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="m-auto">
      <p class="m-0 mr-3 text-center">  {{projectItem.ancestry}}
        {{projectItem.alive}}</p>
    </mat-card-content>
  </mat-card>
</div> -->



<!-- <div *ngFor="let it of nine$ | async">
  {{projectItemspecies}}
  {{projectItemgender}}
  {{projectItemhouse}}
  {{projectItemdateOfBirth}}
  {{projectItemancestry}}
  {{projectItemalive}}
</div> -->