<div class="d-flex justify-content-center w-100 vh-100">
  <mat-card class="d-flex justify-content-center align-content-center align-items-center  flex-column align-self-center w-50" *ngIf="apexItem$ | async as apex">
    <mat-card-header class="align-self-center">
      <mat-card-title>
        <h1>{{apex.name}}</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <p>{{apex.function}}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="align-self-center d-flex flex-column">
      <p>Real Name: {{apex.about.real_name}}</p>
      <p>Age: {{apex.about.age}}</p>
      <div>
        <p>Lore:</p>
        <p [innerHTML]="apex.lore"></p>
      </div>
    </mat-card-content>
  </mat-card>
</div>