<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Onepiece</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let one of onepiece" (click)="selected.emit(one.id);$event.stopImmediatePropagation()">
        <h3 mat-line>
          {{one.chapter}}
        </h3>
        <button mat-icon-button matTooltip="Click To Delete" (click)="deleted.emit(one);$event.stopImmediatePropagation()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Click For More Info" (click)="$event.stopImmediatePropagation()" [routerLink]="one.id">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>