<workspace-heroes-list [marvelData]="marvel$ | async" (deleted)="deleteMarvel($event)"></workspace-heroes-list>
<!-- <div class="d-flex flex-wrap">
  <mat-card class="w-50" *ngFor="let item of (marvel$ | async)">
    <mat-card-header class="justify-content-center">
      <mat-card-title>
        <h2>{{item.name}}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex justify-content-center align-items-center flex-column">
      <img src={{item.thumbnail.path}}.{{item.thumbnail.extension}} class="fixed-img">
      <p>
        {{item.description}}
      </p>
    </mat-card-content>
  </mat-card>
</div> -->