<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="currentRick.name; else elseRick">{{originalRick}}</span>
        <ng-template #elseRick>Select a Character</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form (submit)="saved.emit(currentRick)">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>{{currentRick.name}}</mat-label>
        <input matInput placeholder="Character" type="text" name="name">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button color="primary">Save</button>
      <button type="button" mat-button (click)="cancelled.emit(currentRick)">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>