<workspace-toolbar [title]="title" [sidenav]="sidenav" [isAuthenticated]="authService.isAuthenticated$.value">
</workspace-toolbar>

<mat-sidenav-container class="vh-100">
  <mat-sidenav #sidenav mode="side">
    <nav>
      <a *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active" mat-button class="nav-link">
        <mat-icon>
          {{link.icon}}
        </mat-icon>
        {{link.title}}
      </a>
    </nav>
  </mat-sidenav>
  
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>